sportsschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="basketball">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="profile" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="playerid"/>
              <xs:element type="xs:string" name="playername"/>
              <xs:element type="xs:string" name="team"/>
              <xs:element type="xs:byte" name="age"/>
              <xs:element type="xs:string" name="position"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>